on: push
name: Publish Website
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 2
    - name: Add untracked file
      run: |
        touch a-new-file.php
    - name: Deploy files via SFTP
      uses: milanmk/actions-file-deployer@master
      with:
        remote-protocol: sftp
        remote-host: sftp.wp.com
        remote-user: ${{ secrets.FTP_USER }}
        remote-password: ${{ secrets.FTP_PASSWORD }}
        remote-path: /htdocs/working-area/${{ github.event.repository.name }}/${{ github.sha }}
        sync: full # support untracked files
    - name: Link the files in htdocs and remove old references
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: sftp.wp.com
        username: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASSWORD }}
        port: 22
        script: |
          cp -Rsf /htdocs/working-area/${{ github.event.repository.name }}/${{ github.sha }}/* /htdocs
          cd /htdocs/working-area/${{ github.event.repository.name }}
          find . ! -path './${{ github.sha }}*' -delete
          find /htdocs -xtype l -delete
